 .container{
    display: flex;
    column-gap: 18px;
 }
.p{
    font-size: 20px;
    cursor: pointer;
    color: white;
    text-decoration: none;
 }
 .navbar{
    position: static;
 }
 .main{
   margin: 8% 21%;
 }
 .form{
   display: flex;
   row-gap: 25px;
 }
 .h1{
   text-align: center;
   margin-bottom: 40px;
 }
 .thead{
   background-color:gray;
   color: white;
   font-weight: 500;
 }